/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* STYLE MOBILE */
body {
    background: beige;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
    background: beige;
    z-index: 1000;
    border-bottom: 5px solid beige;
}

h1 {
    position: fixed;
    margin-top: 5%;
    margin-left: 20%;
    font-style: italic;
    font-weight: normal;
    font-size: 250%;

}

.contenu {
    position: relative;
    left: 25%;
    top: 30%;
    width: 55%;
    max-width: 50%;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top: 0%;
    margin-bottom: 10%;
}

.infos {
    margin-top: 30%;
    margin-left: 10px;
    max-width: 100%;
    text-align: block;
    opacity: 70%;
    font-size: 100%;
    line-height: 1.6;

}

.concerts {
    width: 100%;
    opacity: 70%;
    margin-top: 10%;
    font-size: 80%;

}

table {
    text-align: left;
    width: 100%;
}

td {
    width: 21%;
    margin-right: 3%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin-top: 20%;
    margin-left: 2%;
    font-size: 100%;
    z-index: 1000;
}

h3 {
    font-style: italic;
    font-weight: normal;
    opacity: 90%;
}

ul {
    background-color: beige;
    opacity: 60%;
    list-style-type: none;
    stroke-opacity: 100%;
    border-radius: 2px;
}

li button {
    font-size: 70%;
    font-family: monospace;
    border: none;
    background-color: beige;
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 0;
}

.accueil button {
    width: auto;
    text-decoration: none;
    background-color: beige;
    border: none;
    color: black;
    opacity: 60%;
    stroke-opacity: 100%;
    font-size: 100%;
    font-family: monospace;
    font-style: italic;
    position: relative;
}


footer {
    font-size: 70%;
    text-align: center;
    width: 70%;
    height: auto;
    background: beige;
    margin: 10px auto;
}

.player {
    margin-top: 4%;
}

.playbio {
    z-index: 1500;
    position: fixed;
    top: 15%;
    left: 75%;
    width: 10%;
    height: 20%;
}

.playbio button {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('../public/assets/images/hautparleur.svg');
    background-size: cover;
    border: none;
}

.soundcloudplayer {
    margin-top: 3%;
    width: 100%;
}

/* STYLE TAB */
@media only screen and (min-width: 768px) {
    .title {
        height: 20%;
    }

    h1 {
        font-size: 300%;
    }

    .infos {
        max-width: 90%;
        margin-left: 0;
        font-size: 150%;
        line-height: 1.8;

    }

    .concerts {
        font-size: 120%;
    }

    table {
        width: 90%;
    }

    .menu {
        margin-top: 8%;
        font-size: 200%;
    }
    h3 {
        margin-bottom: 15px;
    }

    li button:hover {
        color: white;
        background-color: black;
        opacity: 100%;
        border-radius: 5px;

    }

    .accueil button {
        width: 200px;
        font-size: 200%;
        position: absolute;
        bottom: 10%;
        right: 10%;

    }

    .accueil button:hover {
        color: white;
        border-radius: 5px;
        background-color: black;
        text-decoration: none;
        opacity: 60%;
        stroke-opacity: 100%;
    }

    footer {
        width: 100%;
        bottom: 0%;
        margin-bottom: 0.1%;
    }

    .soundcloudplayer {
        width: 70%;
    }
}

/* STYLE DESKTOP */

@media only screen and (min-width: 1920px) {}